.App {
  text-align: center;
}

.logo {
   max-width: 60px;
   margin-top: 10px;
}

.app__from {
  padding: 2%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 98%;
  height: auto;
  background-color: #fff;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important; 
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0;
}

.app__div
{
  margin-top: 100px;
}