.App {
  text-align: center;
}

.logo {
   max-width: 70px;
   margin-top: 10px;
}

.app__from {
  padding: 2%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 94%;
  margin: 1%;
  background-color: #e9e9eb;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important; 
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0;
}